/* Fonts */
@font-face {
    font-family: 'Impact';
    src: url("../fonts/Impact.ttf");
}
@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico.ttf");
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins.ttf");
}
/* CSS Variables */
:root {
    /* Font Families */
    --font-family-display: "Impact", display;
    --font-family-body: "Poppins", sans-serif;
    --cursive-font-family: "Pacifico", cursive;

    /* Font Size */
    --font-size: 100%;

    /* Line Height */
    --line-height-small: 1.2;
    --line-height-big: 1.5;

    /* Font Weight */
    --font-weight-thin: 300;
    --font-weight-normal: 500;
    --font-weight-bold: 700;

    /* Border Radius */
    --border-radius: 0.25rem;

    /* Z-Index Scale */
    --z-base: 10;
    --z-dropdown: 20;
    --z-sticky: 30;
    --z-navbar: 40;
    --z-carousel-controls: 50;
    --z-thumbnail: 60;
    --z-content-overlay: 70;
    --z-modal: 9999;

    /* Navbar Height */
    --navbar-height: 5rem;

    /* Accent Colors */
    /*red*/
    --red-accent-color: #c52f21;
    --red-accent-color-hover: #9e261a;
    /*pink*/
    --pink-accent-color: #d92662;
    --pink-accent-color-hover: #ae1e4e;
    /*fushcia*/
    --fushcia-accent-color: #c1208b;
    --fushcia-accent-color-hover: #9a1a6f;
    /*purple*/
    --purple-accent-color: #9236a4;
    --purple-accent-color-hover: #752b83;
    /*violet*/
    --violet-accent-color: #7540bf;
    --violet-accent-color-hover: #5e3399;
    /*indigo*/
    --indigo-accent-color: #524ed2;
    --indigo-accent-color-hover: #423ea8;
    /*blue*/
    --blue-accent-color: #2060df;
    --blue-accent-color-hover: #1a4db2;
    /*azure*/
    --azure-accent-color: #01aaff;
    --azure-accent-color-hover: #0087d9;
    /*cyan*/
    --cyan-accent-color: #047878;
    --cyan-accent-color-hover: #036060;
    /*jade*/
    --jade-accent-color: #007a50;
    --jade-accent-color-hover: #006240;
    /*green*/
    --green-accent-color: #398712;
    --green-accent-color-hover: #2e6c0e;
    /*lime*/
    --lime-accent-color: #a5d601;
    --lime-accent-color-hover: #84ab01;
    /*yellow*/
    --yellow-accent-color: #f2df0d;
    --yellow-accent-color-hover: #c2b20a;
    /*amber*/
    --amber-accent-color: #ffbf00;
    --amber-accent-color-hover: #cc9900;
    /*pumpkin*/
    --pumpkin-accent-color: #ff9500;
    --pumpkin-accent-color-hover: #cc7700;
    /*orange*/
    --orange-accent-color: #d24317;
    --orange-accent-color-hover: #a83612;
    /*sand*/
    --sand-accent-color: #ccc6b4;
    --sand-accent-color-hover: #a39e90;
    /*grey*/
    --grey-accent-color: #ababab;
    --grey-accent-color-hover: #898989;
    /*zinc*/
    --zinc-accent-color: #646b79;
    --zinc-accent-color-hover: #505661;
    /*slate*/
    --slate-accent-color: #525f7a;
    --slate-accent-color-hover: #424c62;

    --current-accent-color: ;
    --current-accent-color-hover: ;

    /* Theme Colors */
    --color: ;
    --bg-color: ;
}
/* Themes */
[data-theme="light"] {
    --color: rgba(0, 0, 0, 0.85);
    --bg-color: rgba(255, 255, 255, 0.8);
    --bg-color-shadow: rgba(255, 255, 255, 0.9);
}
[data-theme="dark"] {
    --color: rgba(255, 255, 255, 0.9);
    --bg-color: rgba(0, 0, 0, 0.9);
    --bg-color-shadow: rgba(0, 0, 0, 0.8);
}
/*Accent*/
[data-accent="red"] {
    --current-accent-color: var(--red-accent-color);
    --current-accent-color-hover: var(--red-accent-color-hover);
}
[data-accent="pink"] {
    --current-accent-color: var(--pink-accent-color);
    --current-accent-color-hover: var(--pink-accent-color-hover);
}
[data-accent="fushcia"] {
    --current-accent-color: var(--fushcia-accent-color);
    --current-accent-color-hover: var(--fushcia-accent-color-hover);
}
[data-accent="purple"] {
    --current-accent-color: var(--purple-accent-color);
    --current-accent-color-hover: var(--purple-accent-color-hover);
}
[data-accent="violet"] {
    --current-accent-color: var(--violet-accent-color);
    --current-accent-color-hover: var(--violet-accent-color-hover);
}
[data-accent="indigo"] {
    --current-accent-color: var(--indigo-accent-color);
    --current-accent-color-hover: var(--indigo-accent-color-hover);
}
[data-accent="blue"] {
    --current-accent-color: var(--blue-accent-color);
    --current-accent-color-hover: var(--blue-accent-color-hover);
}
[data-accent="azure"] {
    --current-accent-color: var(--azure-accent-color);
    --current-accent-color-hover: var(--azure-accent-color-hover);
}
[data-accent="cyan"] {
    --current-accent-color: var(--cyan-accent-color);
    --current-accent-color-hover: var(--cyan-accent-color-hover);
}
[data-accent="jade"] {
    --current-accent-color: var(--jade-accent-color);
    --current-accent-color-hover: var(--jade-accent-color-hover);
}
[data-accent="green"] {
    --current-accent-color: var(--green-accent-color);
    --current-accent-color-hover: var(--green-accent-color-hover);
}
[data-accent="lime"] {
    --current-accent-color: var(--lime-accent-color);
    --current-accent-color-hover: var(--lime-accent-color-hover);
}
[data-accent="yellow"] {
    --current-accent-color: var(--yellow-accent-color);
    --current-accent-color-hover: var(--yellow-accent-color-hover);
}
[data-accent="amber"] {
    --current-accent-color: var(--amber-accent-color);
    --current-accent-color-hover: var(--amber-accent-color-hover);
}
[data-accent="pumpkin"] {
    --current-accent-color: var(--pumpkin-accent-color);
    --current-accent-color-hover: var(--pumpkin-accent-color-hover);
}
[data-accent="orange"] {
    --current-accent-color: var(--orange-accent-color);
    --current-accent-color-hover: var(--orange-accent-color-hover);
}
[data-accent="sand"] {
    --current-accent-color: var(--sand-accent-color);
    --current-accent-color-hover: var(--sand-accent-color-hover);
}
[data-accent="grey"] {
    --current-accent-color: var(--grey-accent-color);
    --current-accent-color-hover: var(--grey-accent-color-hover);
}
[data-accent="zinc"] {
    --current-accent-color: var(--zinc-accent-color);
    --current-accent-color-hover: var(--zinc-accent-color-hover);
}
[data-accent="slate"] {
    --current-accent-color: var(--slate-accent-color);
    --current-accent-color-hover: var(--slate-accent-color-hover);
}

/* Global Styles */
body {
    font-family: var(--font-family-body);
}
